.map {
    background-color: green;
    height: 580px;
    width: 1320px;
    border-color: black;
    border-style: solid;
    margin-top: 17px;
    margin-left: 9px;
}

.button {
    height: 40px;
    width: 100px;
    position: absolute;
    left: 660px;
    top: 290px;
}

.hero {
    background-color: red;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 720px;
    top: 100px;
    z-index: 2;
}

.coin {
    background-color: yellow;
    height: 15px;
    width: 15px;
    left: 300px;
    top: 100px;
    position: fixed;
    z-index: 1;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.points {
    left: 660px;
    top: 17px;
    position: absolute;
    border-color: black;
    border-style: solid;
    width: 73.5px;
    padding-left: 20px;
    padding-bottom: 18.5px;
    font-style: italic;
    background-color: white;
}

.countdown {
    left: 690px;
    top: 35px;
    position: absolute;
}

.start {
    width: 20px;
    height: 20px;
    background-color: black;
    left: 500px;
    top: 300px;
    position: absolute;
}